doctype html
html
  head
    script
        include ../public/javascripts/vendor/web3.js-0.20.6/dist/web3.js
    script
        include /node_modules/truffle-contract/dist/truffle-contract.js
    title= title

  body
    h2 Air Mattress & Breakfast

    h4 My Property Listings

    div#properties_container

    div#property_mgmt
      h4 Create a Property

      button#create_property Create Now

      h4 Register a Property
      form#register_property
        input#token_id(placeholder="Property id")
        input#cost(type="number", placeholder="Cost per night")
        button(type="submit") Register a property

    script
      include ../public/javascripts/main.js
