<link href="/favicon.ico" type="image/x-icon" rel="icon" />
<script src="../public/javascripts/vendor/web3.js-0.20.6/dist/web3.js"></script>
<!-- <script src="../../public/contracts/Property.json"></script> -->
<script src="/node_modules/truffle-contract/dist/truffle-contract.js"></script>
<div id="property"></div>
<button>Click me!</button>
<script src="../public/javascripts/main.js"></script>
<!-- <script>
  let web3Provider;
  if (typeof web3 !== 'undefined') {
    // this will work if a web3 instance has been injected
    // such is the case with Metamask
    web3Provider = web3.currentProvider;
  }
  else {
    // but for our purpose we'll connect to truffle
    web3Provider = new Web3.providers.HttpProvider('http://127.0.0.1:9545/');
  }
  window.web3 = new Web3(web3Provider);


  function readTextFile(file, callback) {
    var rawFile = new XMLHttpRequest();
      rawFile.open("GET", file, true);
      rawFile.onreadystatechange = function() {
          if (rawFile.readyState === 4 && rawFile.status == "200") {
              callback(rawFile.responseText);
          }
      }
      rawFile.send(null);
  }

  let fileContents;
  readTextFile("/app/public/contracts/Property.json", function(text){
      fileContents = JSON.parse(text);
  });

  // let property; = TruffleContract(fileContents);

  // debugger


  const getContract = async (json, web3 = window.web3) => {
    contract = TruffleContract(json);
    contract.setProvider(web3.currentProvider);
    return contract.deployed();
  }

  const propertyContract = getContract(fileContents);

  debugger

  const event = propertyContract.allEvents({ fromBlock: 0, toBlock: 'latest' });
  event.watch((err, res) => {
    if (err)
      console.log('watch error', err)
    else
      console.log('got an event', res)
  });
</script>

 -->
